# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [8]:
numbers = [12, 75, 150, 180, 145, 525, 50]

numbers.sort()

print(numbers[-1])

525

In [13]:
numbers = [12, 75, 150, 180, 145, 525, 50]

max=numbers[0]

for i in numbers:
    if i>max:
        max=i

print(max)

525

Q2. Print all the even number between (1, 12).

In [16]:
for i in range(1,12) :
    if i%2==0 :
       print(i)

2
4
6
8
10

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [19]:
num = int(input("Please enter number : "))

sum=0

for i in range(1,num+1):
    sum = sum+i
    
print(sum)

Please enter number : 5
15

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [74]:
# Given:

numbers = [12, 75, 150,180, 145, 525, 50]

for i in numbers:
    if i%5==0:
       if i>150 :
          continue
       if i>500 :
          break
       print(i)

75
150
145
50

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [39]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()

print(list1)

[50, 40, 30, 20, 10]