In [ ]:
1. In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6

In [ ]:
* - expressions
'hello' - value
-87.8 - value
- - expressions
/ - expressions
+ - expressions
6 - value

In [ ]:
2. What is the difference between string and variable?

In [ ]:
variable that we can use to store data in a program . We can assign some value to the variable and we can change the value of the variable as per our requirment .

string are data so we can use them to assign to variable .

In [ ]:
3. Describe three different data types.

In [ ]:
Numeric -  Numeric data type represent the data which has numeric value.
           Numeric value can be integer, floating number or even complex numbers. 
           These values are defined as int, float and complex class in Python.
        
           a=5
           b=5.0
           c= 5+4j
            
String - In Python, Strings are arrays of bytes representing Unicode characters. 
         A string is a collection of one or more characters put in a single quote, double-quote or triple quote.
         It is represented by str class.
    
         a="Mini"
        
list - List is ordered collection of data .Data do not need to be same datatype .
  
        l =['mini',5,6,5.0]

In [ ]:
4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is a combination of operators and operands that is interpreted to produce some other value.

Constant Expressions: These are the expressions that have constant values only.
     x=10+3.0
     x=13.0
    
Arithmetic Expressions: An arithmetic expression is a combination of numeric values, operators, and sometimes parenthesis.
    x=1
    y=2
    add = x+y
    sub = x-y
    mul =x*y
    div =x/y
    
Integral Expressions: These are the kind of expressions that produce only integer results after all computations and type conversions.
    a=1
    b=10.0
    c=a+int(b)
    c=11
    
Floating Expressions: These are the kind of expressions which produce floating point numbers as result after all computations and type conversions.
    a=13
    b=5
    c=a/b
    c=2.6
    
Relational Expressions :In these types of expressions, arithmetic expressions are written on both sides of relational operator (> , < , >= , <=). Those arithmetic expressions are evaluated first, and then compared as per relational operator and produce a boolean output in the end. These expressions are also called Boolean expressions.
    
    a=21
    b=13
    c=40
    d=37
    
    p=(a+b) >= (c-d)
    p=True
    
Logical Expressions: These are kinds of expressions that result in either True or False.
    
    
P = (10 == 9)
Q = (7 > 5)
  
R = P and Q
S = P or Q
T = not P
  
print(R)
print(S)
print(T)

False
True
True


Bitwise Expressions: These are the kind of expressions in which computations are performed at bit level.
a = 12
  
x = a >> 2
y = a << 1
  
print(x, y)

3 24

Combinational Expressions: We can also use different types of expressions in a single expression, and that will be termed as combinational expressions.
    
    
a = 16
b = 12
  
c = a + (b >> 1)
print(c)

22

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
Statements represent an action or command e.g print statements, assignment statements. 
Expression is a combination of variables, operations and values that yields a result value.

print('mini') - statement

c=5*5 - expression

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon +

In [1]:
bacon contain value 23.

23

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

In [ ]:
8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
A variable name cannot start with a number so 100 is invalid but variable name can start with a letter so eggs is a valid name .

In [ ]:
9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
int(),float() and str() used to to do type casting .
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [5]:
"I have eaten ' + 99 + ' burritos." # replace single quote with double quotes .

"I have eaten ' + 99 + ' burritos."